@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    BleakwindBuffet.Data.Enums.Size[] sizes = { BleakwindBuffet.Data.Enums.Size.Small, BleakwindBuffet.Data.Enums.Size.Medium,
        BleakwindBuffet.Data.Enums.Size.Large };
    BleakwindBuffet.Data.Enums.SodaFlavor[] flavors = { BleakwindBuffet.Data.Enums.SodaFlavor.Blackberry, BleakwindBuffet.Data.Enums.SodaFlavor.Cherry,
        BleakwindBuffet.Data.Enums.SodaFlavor.Grapefruit, BleakwindBuffet.Data.Enums.SodaFlavor.Lemon, BleakwindBuffet.Data.Enums.SodaFlavor.Peach,
        BleakwindBuffet.Data.Enums.SodaFlavor.Watermelon };
    BleakwindBuffet.Data.Drinks.Drink[] drinks = { new AretinoAppleJuice(), new CandlehearthCoffee(), new MarkarthMilk(), new SailorSoda(), new WarriorWater() };
}

@using BleakwindBuffet.Data
@using BleakwindBuffet.Data.Entrees
@using BleakwindBuffet.Data.Sides
@using BleakwindBuffet.Data.Drinks

<div class="text-center">
    <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
        Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!
    </p>
</div>

<div class="combo">Any combination of an entree, side and drink can be combined for a $1 discount!<br><br></div>

<form id="filters">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search" />
    </div>

    <h4>Category</h4>
    <label>
        <input type="checkbox" name="Entrees" value="@Model.Entrees" />
        Entrees
    </label>

    <label>
        <input type="checkbox" name="Sides" value="@Model.Sides" />
        Sides
    </label>

    <label>
        <input type="checkbox" name="Drinks" value="@Model.Drinks" />
        Drinks
    </label>

    <h4>Calories</h4>
    <div>
        Between
        <input name="CaloriesMin" type="number" min="0" step="1" value="@Model.CaloriesMin" />
        and
        <input name="CaloriesMax" type="number" min="0" step="1" value="@Model.CaloriesMax" />
    </div>

    <h4>Price</h4>
    <div>
        Between
        <input name="PriceMin" type="number" min="0" step="0.01" value="@Model.PriceMin" />
        and
        <input name="PriceMax" type="number" min="0" step="0.01" value="@Model.PriceMax" />
    </div>
</form>
<br />

<div class="flex-columns">
    <div class="entree">
        <h2>Entrees</h2>
        @foreach (IOrderItem item in @Model.MenuItems)
        {
            @if (item is Entree)
            {
                <h3 class="name">@item.ToString()</h3>
                <p class="description">@item.Description</p>
                <p class="price">$@item.Price</p>
                <p class="calories">@item.Calories calories</p>

            }
        }
    </div>
    <br/>
    <div class="side">
        <h2>Sides</h2>
        @foreach (IOrderItem item in Model.MenuItems)
        {
            if (item is Side side)
            {

                @if (item is VokunSalad)
                {
                    <h3 class="name">Vokun Salad</h3>
                }
                @if (item is MadOtarGrits)
                {
                    <h3 class="name">Mad Otar Grits</h3>
                }
                @if (item is DragonbornWaffleFries)
                {
                    <h3 class="name">Dragonborn Waffle Fries</h3>
                }
                @if (item is FriedMiraak)
                {
                    <h3 class="name">Fried Miraak</h3>
                }
                <div class="description">@item.Description</div>
                @foreach (BleakwindBuffet.Data.Enums.Size size in sizes)
                {
                    side.Size = size;
                    <p class="size">@size:</p>
                    <p class="price">$@side.Price</p>
                    <p class="calories">@side.Calories calories</p>
                }
            }
        }
    </div>
    <br />
    <div class="drink">
        <h2>Drinks</h2>
        @foreach (IOrderItem item in Model.MenuItems)
        {
            if (item is Drink drink)
            {
                @if (item is AretinoAppleJuice)
                {
                    <h3 class="name">Aretino Apple Juice</h3>
                    <p class="description">@item.Description</p>
                }
                @if (item is CandlehearthCoffee)
                {
                    <h3 class="name">Candlehearth Coffee</h3>
                    <p class="description">@item.Description</p>
                }
                @if (item is MarkarthMilk)
                {
                    <h3 class="name">Markarth Milk</h3>
                    <p class="description">@item.Description</p>
                }
                @if (item is SailorSoda)
                {
                    <h3 class="name">Sailor Soda</h3>
                    <p class="description">@item.Description</p>
                    <p class="flavor-text">Flavors:</p>
                    @foreach (BleakwindBuffet.Data.Enums.SodaFlavor flavor in flavors)
                    {
                        <p class="flavor">@flavor</p>
                    }
                }
                @if (item is WarriorWater)
                {
                    <h3 class="name">Warrior Water</h3>
                    <p class="description">@item.Description</p>
                }
                @foreach (BleakwindBuffet.Data.Enums.Size size in sizes)
                {
                    drink.Size = size;
                    <p class="size">@size:</p>
                    <p class="price">$@drink.Price</p>
                    <p class="calories">@drink.Calories calories</p>
                }

            }
        }
    </div>
    <br>
</div>